site_name: ColorHighlighter Documentation
site_url: https://codebyzach.github.io/sublime_color_highlighter
repo_url: https://github.com/CodeByZach/sublime_color_highlighter
edit_uri: tree/master/docs/src
site_description: A color highlighting plugin for Sublime Text.
copyright: |
  Copyright &copy; 2013 - 2025 <a href="https://github.com/Monnoroch" target="_blank" rel="noopener">Monnoroch</a>

docs_dir: docs/src
theme:
  name: material
  custom_dir: docs/theme
  icon:
    logo: material/book-open-page-variant
  palette:
    scheme: dracula
    primary: deep purple
    accent: deep purple
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.top

nav:
  - ColorHighlighter: index.md

markdown_extensions:
  - markdown.extensions.toc:
      slugify: !!python/name:pymdownx.slugs.uslugify
      permalink: ""
  - markdown.extensions.smarty:
      smart_quotes: false
  - pymdownx.betterem:
  - markdown.extensions.attr_list:
  - markdown.extensions.def_list:
  - markdown.extensions.tables:
  - markdown.extensions.abbr:
  - markdown.extensions.md_in_html:
  - pymdownx.superfences:
  - pymdownx.highlight:
  - pymdownx.inlinehilite:
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
      user: CodeByZach
      repo: sublime_color_highlighter
  - pymdownx.tilde:
  - pymdownx.caret:
  - pymdownx.smartsymbols:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.escapeall:
      hardbreak: true
      nbsp: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.keys:
      separator: "\uff0b"
  - pymdownx.details:

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/CodeByZach

extra_css:
  - extra.css

plugins:
  - search
